h1 {
    font-family: 'Patua One', cursive;
    text-align: center;
}
h2{
    font-family: 'Patua One', cursive;
    text-align: center;
}
a{
    font-family: 'Roboto', sans-serif;
}
li {
    font-family: 'Roboto', sans-serif;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    box-shadow: 5px 5px 10px black;
}

body{
    background-color: cadetblue;
}
main{
    background-color: cornsilk;
    width:80%;
    margin: 0 auto;
    padding: 15px;
}

footer{
    background-color: cornsilk;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}