/*[title ~= Name] looks for atributes on the page */


.pancake {
    background-color: rgb(223, 191, 48);
    padding: .2em;
    position: sticky;
    top: 0;
    z-index: 2;
    display: none;
}

.friday {
    display: block;
}

/*Text*/
h1 {
    font-family: 'Patua one', serif;
    text-align: left;
    color: black;
}

h4 {
    color: black;
    text-align: left;
}



.title {
    text-align: left;
}

/* centered and sized*/
#logo {
    display: block;
    width: 7em;
    float: left;
    padding: .3em;
}

.summary {
    position: relative
}

#weathersummary {
    position: absolute;
    top: .5em;
    left: .5em;
    width: 30%;
    height: 75%;
    padding: .5em;
}

#hero {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

section {
    border-style: dashed;
    background-color: darkgrey;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #FFF8EB;
    font-family: 'Patua One', serif;


}

header {
    background-color: #6B97B3;
}

main {
    margin: 0 auto;
    width: 80%;
}

footer {
    padding: 0.5em;
    background-color: #6B97B3;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #FFF8EB;
}

#contact {
    width: 100%;
    align-items: center;
    text-align: left;

}
#title img{
    width: 4%;
}

#map{
    width:25%;
    padding: 1em;
    float:left;
}
#article{
    padding: 1em;
}

#napoleon {
    width: 35%;
    padding:.5em;
    float: right;
}

.text {
    text-align: justify;
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

#forecast {
    display: block;
}

div .day {
    height: 5em;
    width: 5em;
    background-color:#6B97B3;
}
div .day img{
    width: 100%;
}


/* Navigation */

ul {
    list-style-type: none;
    font-family: 'Robot', sans-serif;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 1em;
}

a {
    padding: 1em;
    color: #FFF8EB;
    text-decoration: none;
}
.navigation a:link {
    color: #FFF8EB;
}

.navigation a:hover {
    background-color: #6B97B3;
}

.navigation li:first-child {
    display: none;
    background-color:#273842 ;
}
.topnav {
    background-color: #273842;
}

.head {
    padding: .5em;
}

#preston #navigation a[title~=preston],
#soda #navigation a[title~=soda],
#fish #navigation a[title~=fish],
#storm #navigation a[title~=storm] {
    background-color: #6B97B3;
}

.gallery{
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
}

.image{
    width:100%;
}

img:hover{
    box-shadow: 0px 30px black;
}

/* Love, Hate, link, visited, hover, focus, active */



@media screen and (max-width: 64em) {
    .gallery{
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
    }
    
}


/* smaller* media query makes the nav,
block javaScript is what triggers the hamburger */
@media screen and (max-width: 32.5em) {
    .navigation {
        display: block;
    }

    .navigation li:first-child {
        display: block;
        text-align: center;
    }

    .navigation li {
        display: none;
        flex: 1 1 100%;
    }

    body {
        width: 100%;
        margin: 0 auto;
    }

    nav.responsive ul.navigation li {
        float: none;
        display: block;
        text-align: center;
    }
    .gallery{
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-content: space-around;
    }
    
    .image{
        width:100%;
    }
  


    /*Hides five day forecast in mobile view*/
    #forecast {
        display: none;
    }


    #weathersummary {
        position: relative;
        width: 90%;
    }
    #napoleon {
        width: 100%;
    }
    #contact{
        width: 100%;
        margin: 0 auto;
    }
    #contact #map {
        margin: 0 auto;
        width: 90%;
    }
    #title{
        padding: .5em;
    }

}