h1 {
    font-family: 'Patua one', serif;
    text-align: left;
    color: black;
}

h4 {
    color: black;
    text-align: left;
}
.title {
    text-align: left;
}

/* centered and sized*/
#logo {
    display: block;
    width: 7em;
    float: left;
    padding: .3em;
}

section {
    border-style: dashed;
    background-color: darkgrey;
    margin: 0 auto;

}

body {
    background-color: #FFF8EB;
    font-family: 'Patua One', serif;
}

section{
    background-color: #6B97B3;
    color: black;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

header {
    background-color: #6B97B3;
}

main {
    margin: 0 auto;
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
}

footer {
    padding: 0.5em;
    background-color: #273842;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #FFF8EB;
}


/* Navigation */

ul {
    list-style-type: none;
    font-family: 'Robot', sans-serif;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 1em;
}

a {
    padding: 1em;
    color: #FFF8EB;
    text-decoration: none;
}
.navigation a:link {
    color: #FFF8EB;
}

.navigation a:hover {
    background-color: #6B97B3;
}

.navigation li:first-child {
    display: none;
    background-color:#273842 ;
}
.topnav {
    background-color: #273842;
}

.head {
    padding: .5em;
}


.city{
    display:grid;
    grid-gap: 1em;
}

@media screen and (min-width: 50em){
    
main {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;

}
    .city {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
    .city section{
        padding: 1em;
    }
}

@media screen and (min-width: 25em){
    
    main {
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
    }
}