h1{
    text-align: center;
}

.cards{
    display:grid;
    grid-gap: 1em;
    width: 100%;



}
.cards img{
    align-self: center;
    max-width: 75%;
}
section{
    display: flex;
    flex-direction: column;
    border-style: solid;
}
@media only screen and (min-width: 60rem) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }
}