h1 {
    font-family: 'Patua one', serif;
    text-align: left;
    color: black;
}
h2{
    text-align: center;
}

h4 {
    color: black;
    text-align: left;
}
table{
    width:100%;
}

/* centered and sized*/
#logo {
    display: block;
    width: 7em;
    float: left;
    padding: .3em;
}

section {
    margin: 0 auto;
    background-color: #6B97B3;
    color: black;
    flex-direction: column;
    border-style: solid;
    width: 45%;
    padding: 1em;

}

body {
    background-color: #FFF8EB;
    font-family: 'Patua One', serif;
}

header {
    background-color: #6B97B3;
}

main {
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
    align-content: space-around;
}

footer {
    padding: 0.5em;
    background-color: #273842;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #FFF8EB;
}


/* Navigation */

ul {
    list-style-type: none;
    font-family: 'Robot', sans-serif;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 1em;
}

a {
    padding: 1em;
    color: #FFF8EB;
    text-decoration: none;
}
.navigation a:link {
    color: #FFF8EB;
}

.navigation a:hover {
    background-color: #6B97B3;
}

.navigation li:first-child {
    display: none;
    background-color:#273842 ;
}
.topnav {
    background-color: #273842;
}

.head {
    padding: .5em;
}
