/*  nuetral #EFEBCE
    greenish #A3A380
    blue #3A5683 */
h1{
    font-family: 'Patua one', serif;
    text-align: center;
}
h3{
    font-family: 'Patua one', serif;
}

nav{
    padding: 10px;
}

ul{
display: flex;
justify-content: center;
font-family: 'Robot', sans-serif;
list-style-type: none;
}

li {
    padding-inline: 8%;
    padding-top: 8px;
    padding-bottom: 8px;
}
nav ul li a:hover{
    background-color: #B6B67C;
    padding: 20px;
}

header{
    background-color: #6B97B3;
    width: 80%;
    margin: 0 auto;
    opacity: 90%;
}
main{
    width:80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding:5px;
}
.logo{
    padding: 10px;
    width: 8%;
}

.persona{
    width:25%;
    box-shadow: 5px 5px 10px black;
}


footer{
    padding:10px;
    background-color: #6B97B3;
    width: 80%;
    margin: 0 auto;
    opacity: 90%;
    font-family: 'Roboto', sans-serif;
}