/*  nuetral #EFEBCE
    greenish #A3A380
    blue #3A5683 */
h1{
    font-family: 'Patua one', serif;
    text-align: center;
    color: #363636;
}
h3{
    font-family: 'Patua one', serif;
}
body{
    background-color: #FFF8EB;
    color: #363636;
}

header{
    background-color: #6B97B3;
    margin: 0 auto;
}
main{
    width:80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding:5px;
    color:#363636
}
.logo{
    padding: 10px;
    width: 8%;
}

.persona{
    width:25%;
    box-shadow: 5px 5px 10px black;
}
.colors{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px black;
}

footer{
    padding:10px;
    background-color: #6B97B3;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color:#FFF8EB;
}

.card{
    background-color: #B6B67C;
    box-shadow: 5px 5px 10px black ;
    width:30%;
    text-align: center;
    padding: 10px;
    justify-content: center;
}


nav{
    padding: 10px;
}

ul{
    list-style-type: none;
    font-family: 'Robot', sans-serif;
    display: flex;
    justify-content: space-around;
}

    

a{
    padding: 1em;
    color: #FFF8EB;
}

li a:hover{
    background-color: #B6B67C;
}




@media only screen and (max-width: 768px){
    ul{
        display: flex;
        flex-direction: column;
    }

} 